<div class="row">
  <div class="col-xs-12">
    <h1>Titre : {{ book.title }}</h1>
    <h3>Auteur : {{ book.author }}</h3>
    Statut :
    <span *ngIf="book.etat==util.C" class="glyphicon glyphicon-ok" data-toggle="tooltip" data-animation="false"
      data-placement="right" title="Completed"></span>
    <span *ngIf="book.etat==util.D" class="glyphicon glyphicon-stop" data-toggle="tooltip" data-animation="false"
      data-placement="right" title="Dropped"></span>
    <span *ngIf="book.etat==util.P" class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-animation="false"
      data-placement="right" title="Plan to read"></span>
    <span *ngIf="book.etat==util.R" class="glyphicon glyphicon-play" data-toggle="tooltip" data-animation="false"
      data-placement="right" title="Reading"></span>
    <span *ngIf="book.etat==util.O" class="glyphicon glyphicon-pause" data-toggle="tooltip" data-animation="false"
      data-placement="right" title="On hold"></span>
    <p>Note : {{ book.note }}</p>
    <p>Synopsis : {{ book.synopsis }}</p>
    <button class="btn btn-warning" (click)="onBack()">Retour</button>
    <button class="btn btn-info" (click)="onEdit()">Modifier</button>
    <button class="btn btn-default btn-danger" (click)="onDelete()">Supprimer</button>
  </div>
</div>